Create database [ProjectPRN]
/*tạo database xong xóa dòng create database, ctrl A và excute */
USE [ProjectPRN]
GO
/****** Object:  Table [dbo].[Book_Authors]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Authors](
	[AuthorId] [int] NOT NULL,
	[AuthorName] [nvarchar](50) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK__Book_Aut__70DAFC340178F59D] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book_Category]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](max) NULL,
	[BookDescription] [nvarchar](max) NULL,
	[BookPrice] [decimal](18, 0) NULL,
	[BookQuantity] [int] NULL,
	[AuthorId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[NumberOfPage] [int] NULL,
	[ReleaseDate] [date] NULL,
	[imgPath] [nvarchar](max) NULL,
 CONSTRAINT [PK__Books__3DE0C2076D8CE6FA] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[Address] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[BookId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CreateDate] [date] NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipMoble] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NULL,
	[ShopEmail] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[name] [nchar](10) NULL,
	[createdBy] [nvarchar](50) NULL,
	[createdDate] [date] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[PassWord] [nvarchar](max) NULL,
	[FullName] [nvarchar](50) NULL,
	[UserPhone] [varchar](10) NULL,
	[UserMail] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
	[Roleid] [int] NOT NULL,
	[ActiveCode] [uniqueidentifier] NULL,
	[ResetPasswordCode] [nvarchar](100) NULL,
 CONSTRAINT [PK__Users__1788CC4CF8D39E5B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 7/23/2021 6:37:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK__WishList__3213E83F66BD8F16] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Book_Authors] ([AuthorId], [AuthorName], [ShortDescription], [Description], [Image]) VALUES (3, N'Thạch Lam', N'Thạch Lam, tên thật là Nguyễn Tường Vinh, là một nhà văn Việt Nam thuộc nhóm Tự Lực văn đoàn. Ông là...', N'Thạch Lam, tên thật là Nguyễn Tường Vinh, là một nhà văn Việt Nam thuộc nhóm Tự Lực văn đoàn. Ông là em ruột của hai nhà văn khác cũng trong nhóm Tự Lực văn đoàn là Nhất Linh và Hoàng Đạo. Ngoài bút danh Thạch Lam, ông còn có các bút danh là Việt Sinh, Thiện Sỹ.', N'ThachLam_1.jpg')
INSERT [dbo].[Book_Category] ([CategoryId], [CategoryName]) VALUES (1, N'Lịch sử')
INSERT [dbo].[Book_Category] ([CategoryId], [CategoryName]) VALUES (2, N'Khoa học')
INSERT [dbo].[Book_Category] ([CategoryId], [CategoryName]) VALUES (3, N'Truyện tranh')
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
INSERT [dbo].[Contact] ([ContactId], [Phone], [Mail], [Address]) VALUES (1, N'0345668886', N'Group2@fpt.edu.vn', N'Hòa Lạc, Thạch Thất, Hà Nội')
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (1, 1, 42, 1, CAST(16 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (2, 2, 42, 1, CAST(16 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (3, 3, 42, 1, CAST(16 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [CreateDate], [ShipName], [ShipMoble], [ShipAddress], [ShopEmail]) VALUES (1, 11, CAST(N'2021-07-23' AS Date), N'phap', N'0123456778', N'Hai Phong', N'nguyenducphap2000@gmail.com')
INSERT [dbo].[Orders] ([OrderId], [UserId], [CreateDate], [ShipName], [ShipMoble], [ShipAddress], [ShopEmail]) VALUES (2, 11, CAST(N'2021-07-23' AS Date), N'phap', N'0123456778', N'Hai Phong', N'nguyenducphap2000@gmail.com')
INSERT [dbo].[Orders] ([OrderId], [UserId], [CreateDate], [ShipName], [ShipMoble], [ShipAddress], [ShopEmail]) VALUES (3, 2, CAST(N'2021-07-23' AS Date), N'phuong', N'0123456789', N'Bac Ninh', N'nguyenhaiphuong2k@gmail.com')
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[Role] ([id], [name], [createdBy], [createdDate]) VALUES (1, N'admin     ', N'phap', NULL)
INSERT [dbo].[Role] ([id], [name], [createdBy], [createdDate]) VALUES (2, N'user      ', N'phap', NULL)
INSERT [dbo].[Role] ([id], [name], [createdBy], [createdDate]) VALUES (3, N'staff     ', N'phap', NULL)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [PassWord], [FullName], [UserPhone], [UserMail], [Address], [CreatedDate], [Status], [Roleid], [ActiveCode], [ResetPasswordCode]) VALUES (2, N'phuong', N'$s2$16384$8$1$hzPbyJeGhPLY/qK4abmWvv5BYYwvwUG5NWzV5tO/3QY=$nuVwK25afcH6x9hwxeYIMkD+YIaPrzFmyrpmzBqxKM0=', N'nguyen', N'0123456789', N'nguyenhaiphuong2k@gmail.com', N'Bac Ninh', CAST(N'2021-07-23 18:01:10.540' AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [PassWord], [FullName], [UserPhone], [UserMail], [Address], [CreatedDate], [Status], [Roleid], [ActiveCode], [ResetPasswordCode]) VALUES (3, N'kien', N'$s2$16384$8$1$hzPbyJeGhPLY/qK4abmWvv5BYYwvwUG5NWzV5tO/3QY=$nuVwK25afcH6x9hwxeYIMkD+YIaPrzFmyrpmzBqxKM0=', NULL, N'0123456778', N'kien2000@gmail.com', N'Hoa Lac', CAST(N'2021-05-05 00:00:00.000' AS DateTime), 1, 2, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [PassWord], [FullName], [UserPhone], [UserMail], [Address], [CreatedDate], [Status], [Roleid], [ActiveCode], [ResetPasswordCode]) VALUES (11, N'phap', N'$s2$16384$8$1$hzPbyJeGhPLY/qK4abmWvv5BYYwvwUG5NWzV5tO/3QY=$nuVwK25afcH6x9hwxeYIMkD+YIaPrzFmyrpmzBqxKM0=', NULL, N'0123456778', N'nguyenducphap2000@gmail.com', N'Hai Phong', CAST(N'2021-06-06 00:00:00.000' AS DateTime), 1, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__AuthorId__164452B1] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Book_Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__AuthorId__164452B1]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK__Books__CategoryI__173876EA] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Book_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK__Books__CategoryI__173876EA]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__UserId__75A278F5] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__UserId__75A278F5]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_roleid] FOREIGN KEY([Roleid])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_roleid]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK__WishList__BookId__03F0984C] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK__WishList__BookId__03F0984C]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK__WishList__UserId__02FC7413] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK__WishList__UserId__02FC7413]
GO
