@model PagedList.IPagedList<ProjectPRNver2._0.EF.Book_Authors>

@using PagedList.Mvc;
@{
    ViewBag.Title = "ListAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 40px 240px;" class="Author">
    <h2>Tác Giả</h2>
    <hr style="margin-top: 30px;">
</div>
<!-- Author -->
<div class="container mt-1 mbot30 ">
    <div class="row " style="margin-bottom : 120px">

        @foreach (var item in Model)
        {
            var url = "/detail/tacgia=" + item.AuthorId;
            <div style="border: 1px solid black; color:#000;" class="information col-md-5 mt-3 book__img">
                <div class="image">
                    <img src="../resource/img/@item.Image" alt="" />
                </div>
                <div class="info">
                    <div class="name">
                        <h3 class="detail__author"> <a class="detail__author" href="@url">@item.AuthorName</a></h3>
                        <hr style="color: red; height: 5px;">
                        <p>@item.ShortDescription</p>
                    </div>
                </div>
            </div>
            <div class="information col-md-1 book__img"></div>
        }
        @Html.PagedListPager(Model, page => Url.Action("listAuthor", new { page }))
    </div>
</div>
