@model IEnumerable < ProjectPRNver2._0.EF.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#000;">Liên Hệ </h2>

<!-- contact  -->
<div class="container__contact">
    <div class="row" style="color:#000; font-size: 16px;">
        <div class="col-xl-3">

            <p class="contact__text">Điện thoại: <span class="contact__text-detail">@Model.First().Phone</span></p>
            <p class="contact__text">Email: <span class="contact__text-detail">@Model.First().Mail </span></p>
            <p class="contact__text">Address: <span class="contact__text-detail">@Model.First().Address</span></p>

        </div>
        <div class="col-xl-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14900.394052784708!2d105.5150555768587!3d20.98868782631981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b74d5000dd9%3A0x78f00cc4a35484b9!2zSMOyYSBM4bqhYywgVGjhuqFjaCBUaOG6pXQsIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1627033817523!5m2!1sen!2s" width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

