
@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xác nhận tài khoản</h2>
@if(ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Thành công</strong>
        Tài khoản của bạn đã được kích hoạt thành công. Bấm vào đây để đăng nhập @Html.ActionLink("Đăng nhập","Login", "Login")
    
    </div>
}
else
{
<div class="alert alert-danger">
    <strong>Đã có lỗi xảy ra</strong> @ViewBag.Message

</div>
}

